<%= render partial: "shared/menu"%>
<%= @meme.name %>
<h2> Comment below</h2>
<%= form_with url: user_meme_comment_path, local: true, method: "PATCH" do |c| %>

<%= c.label :comment %>
<%= c.text_field :comment  %></br>

<%= c.submit "Update comment" %>
<% end %>