<%# This stops any user who isnt authorized account from editing%>
<% if @user == current_user %>
<h1>Please edit below</h1> 

<%# need to add error handling messages%>
<%= form_with url: edit_user_meme_path, local: true do |m| %>

<%# values added to show what user will edit%>
<p><%= m.label :name %></br>
<%= m.text_field :name, :value => @meme.name %>

<p> <%= m.label :description %></br>
<%= m.text_field :description, :value => @meme.description %>

<p> <%= m.label :image %></br>
<%= m.text_field :image, :value => @meme.image %></p>

<p> <%= m.label :price %></br>
<%= m.number_field :price, :value => @meme.price %></p>

<%# with enums allows to select from enums %>
<p> <%= m.label :category %></br>
<%= m.select :category, @user.memes.categories.keys.to_a %></p>

<p> <%= m.label :for_sale %></br>
<%= m.check_box :for_sale %></p>

<p> <%= m.submit "Update"%> </p>

<% end %>
<% end %>