<%= render partial: "shared/menu"%>
<% if @user == current_user %>
    <h1> Please enter the fields below to create a Meme </h1>
    <% if @meme.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>
        <ul>
        <% @meme.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <%= form_with url: user_memes_path, local: true do |m| %>

        <p><%= m.label :name %></br>
        <%= m.text_field :name %></p>

        <p> <%= m.label :description %></br>
        <%= m.text_field :description %>

        <p> <%= m.label :image %></br>
        <%= m.file_field :image, accept: 'image/png, image/gif, image/jpeg, image/jpg' %></p>

        <p> <%= m.label :price %></br>
        <%= m.number_field :price %></p>

        <p> <%= m.label :category %></br>
        <%= m.select :category, @user.memes.categories.keys.to_a %></p>

        <p> <%= m.label :for_sale %></br>
        <%= m.check_box :for_sale %></p>

        <p> <%= m.submit "Create"%> </p>

    <% end %>
<% end %>
