<%= render partial: "shared/menu"%>

<%# all the @meme is one call because of controller variable %>
<h1><%= @meme.name %></h1>
    <p><%= image_tag @meme.image if @meme.image.attached?  %></p>
    <p>Description: <%= @meme.description %></p>
    <p>Price: <%= @meme.price %></p>
    <p>Category: <%= @meme.category %></p>
    <p>For Sale: <%= @meme.for_sale %></p>
    <% if @user == current_user %>
        <%= link_to "Edit Meme", edit_user_meme_path %>
    <% elsif @user != current_user && @meme.for_sale = true %>
        <button data-stripe="payment"> 
        Buy Meme
        <%= number_to_currency(@meme.price) %></button>
    <% else %>
    <% end %> 
        <script src="https://js.stripe.com/v3/"></script>

        <script>
            document
            .querySelector("[data-stripe='payment']")
            .addEventListener("click", () => {
                const stripe = Stripe(
                    <%#%"<%= Rails.application.credentials.dig(:stripe, :stripe_public_key) %>
                "<%= ENV['stripe_public_key'] %>"
                );

                stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
                });
            });
        </script>       
<h2>Comments</h2>
<%= link_to "Add Comment", new_user_meme_comment_path(@user, @meme) %></br>
</br>
<% @comment.each do |c| %>
    <%= c.comment %></br>
    <%= User.find(c.user_id).username %> <%= c.created_at %></br>
    <% if c.user_id == current_user.id %>
        <%= link_to "Edit Comment", edit_user_meme_comment_path(c.user_id, c.meme_id, c.id) %>
        <%= link_to "Delete This", delete_comment_path_path(c), method: :delete, data: {confirm: "Are you sure c:?"} %></br></br>
    <% end %>
<% end %>

